Repository iamgld/template-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

chore: ✨ angular was updated to v18.2.12
  package.json
  pnpm-lock.yaml
Due: npm run prettier:fix, npm run eslint:fix

chore: ⚡️ prettier was ran
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/index.ts
  src/app/modules/auth/auth.component.html
  src/app/modules/auth/auth.component.spec.ts
  src/app/modules/auth/auth.component.ts
  src/app/modules/auth/auth.routes.ts
  src/app/modules/auth/views/index.ts
  src/app/shared/components/index.ts
  src/app/shared/models/config/environment.model.ts
  src/app/shared/models/index.ts
  src/app/shared/store/index.ts
  src/app/shared/store/ui/ui.store.ts
  src/app/styles/layers/_base.scss
  src/app/styles/layers/_objects.scss
  src/app/styles/layers/_setting.scss
  src/app/styles/layers/_tools.scss
  src/app/styles/layers/_trumps.scss
  src/app/styles/styles.scss
  src/environments/environment.development.ts
  src/environments/environment.local.ts
  src/environments/environment.production.ts
  src/environments/environment.staging.ts
  src/index.html
  src/index.scss
  src/main.server.ts
  src/main.ts
  src/theme.scss
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

feat: refactor routing and server setup; clean up styles and theme definitions
  src/app/app.routes.ts
  src/app/index.ts
  src/app/styles/layers/_base.scss
  src/app/styles/layers/_objects.scss
  src/app/styles/layers/_setting.scss
  src/app/styles/layers/_tools.scss
  src/app/styles/layers/_trumps.scss
  src/index.html
  src/index.scss
  src/server.ts
  src/theme.scss
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

refactor: move server.ts, update tsconfig.app.json to reflect new server file structure and update package.json
  .lintstagedrc
  README.md
  angular.json
  package.json
  pnpm-lock.yaml
  server.ts
  tsconfig.app.json
Due: npm run prettier:fix, npm run eslint:fix

chore: replace express 5 by 4 and add Dockerfile
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: npm run prettier:fix, npm run eslint:fix

feat: migrate to angular v20 and update Angular server-side rendering setup
  .prettierrc
  angular.json
  llms.txt
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.routes.server.ts
  src/app/index.ts
  src/main.server.ts
  src/server.ts
Due: npm run prettier:fix, npm run eslint:fix

Update llms.txt
  llms.txt
Due: none

Update angular.json
  angular.json
Due: npm run prettier:fix, npm run eslint:fix

refactor: remove prettier configuration from package.json and enhance error handling in server.ts
  package.json
  src/server.ts
Due: npm run prettier:fix, npm run eslint:fix

fix: uncomment minimumReleaseAge and standardize quotes in pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

fix: update package.json to use pnpm for build and linters, and clear schematicCollections in angular.json
  angular.json
  package.json
Due: npm run prettier:fix, npm run eslint:fix

fix: bump version to 21.0.1 in package.json
  package.json
Due: npm run prettier:fix, npm run eslint:fix

fix: update script flags in package.json for consistency
  package.json
Due: npm run prettier:fix, npm run eslint:fix

fix: add parser configuration for HTML in biome.json
  biome.json
Due: npm run prettier:fix, npm run eslint:fix

refactor: remove Prettier and ESLint configurations; update app.config.ts for zoneless change detection and incremental hydration
  .prettierignore
  .prettierrc
  eslint.config.js
  src/app/app.config.ts
Due: npm run prettier:fix, npm run eslint:fix

feat: add copilot instructions for Angular 21 template project
  .github/copilot-instructions.md
Due: none

fix: disable organizeImports action in biome.json and update tsconfig.json for class fields definition
  biome.json
  tsconfig.json
Due: npm run prettier:fix, npm run eslint:fix

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: npm run prettier:fix, npm run eslint:fix

Path conditions:
  npm run prettier:fix: (any of: *.{js,ts,html,json}) or (any of: *.{css,scss})
  npm run eslint:fix: any of: *.{js,ts,html,json}
  npm run stylelint:fix: any of: *.{css,scss}
